
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="http://thevectorlab.net/flatlab/img/favicon.png">

    <title>500</title>

    <!-- Bootstrap core "~/flatlab-master/css/ -->
    <link href="" ~ /flatlab-master/css//bootstrap.min."~/flatlab-master/css/" rel="stylesheet">
    <link href="" ~ /flatlab-master/css//bootstrap-reset."~/flatlab-master/css/" rel="stylesheet">
    <!--external "~/flatlab-master/css/-->
    <link href="" ~ /flatlab-master/assets/font-awesome/"~/flatlab-master/css//font-awesome."~/flatlab-master/css/" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="" ~ /flatlab-master/css//style."~/flatlab-master/css/" rel="stylesheet">
    <link href="" ~ /flatlab-master/css//style-responsive."~/flatlab-master/css/" rel="stylesheet" />
</head>

<body class="body-500">

    <div class="container">

        <section class="error-wrapper">
            <i class="icon-500"></i>
            <h1>Ouch!</h1>
            <h2>500 Page Error</h2>
            <p class="page-500">Bir şey yanlış gitti! <a href="/Home">Geri Dön</a></p>
        </section>

    </div>


</body>
</html>