
@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.timeago.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("time.timeago").timeago();
    });
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <time class="timeago" datetime="2022-06-27T09:24:17Z"></time>
    </div>
</body>
</html>
