@using EntityLayer.Concrete
@model List<Mail>

@{
    ViewBag.Title = "Gönderilen Mesajlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Compose</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!--mail inbox start-->
    <div class="mail-box">
        @Html.Action("MessageListMenu", "Mail")
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Gönderilenler</h3>
                <form class="pull-right position" action="inbox.html#">
                    <div class="input-append">
                        <input type="text" onkeydown = "return (event.keyCode!=13);" id="mailSearch" placeholder="Mail Ara" class="sr-input">
                    </div>
                </form>
            </div>
            <div class="inbox-body">
                <div class="mail-option">
                    <div class="btn-group">
                        <a class="btn mini tooltips"  href="/Mail/SendBox" id="refresh" data-toggle="dropdown" data-placement="top" data-original-title="Yenile">
                            <i class=" fa fa-refresh"></i>
                        </a>
                    </div>
                    <ul class="unstyled inbox-pagination">
                        <li><span>1-50 of 234</span></li>
                        <li>
                            <a href="inbox.html#" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                        </li>
                        <li>
                            <a href="inbox.html#" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                        </li>
                    </ul>
                </div>
                <div id="searchBox">
                </div>
                <table class="table table-inbox table-hover">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="">
                                <td class="inbox-small-cells">
                                    <input type="checkbox" class="mail-checkbox">
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star inbox-star"></i></td>
                                <td class="view-message dont-show">
                                    <a href="/Mail/GetMailDetails/@item.ID">@item.Subject</a>
                                    @switch (item.Importance)
                                    {
                                        case "1":
                                            <span class="label label-success pull-right">Önemsiz <i class="fa fa-coffee"></i></span>
                                            break;
                                        case "2":
                                            <span class="label label-info pull-right">Öncelikli <i class="fa fa-exclamation"></i></span>
                                            break;
                                        case "3":
                                            <span class="label label-danger pull-right">ACİL <i class="fa fa-exclamation-triangle"></i></span>
                                            break;
                                        default:
                                            break;

                                    }


                                </td>
                                <td class="view-message"> <a href="/Mail/GetMailDetails/@item.ID">@item.Message.Substring(0, 30)...</a></td>
                                <td class="view-message inbox-small-cells"></td>
                                <td class="view-message text-right">@(((DateTime)item.Date).ToString("dd/MMM/yyyy HH:mm"))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </aside>
    </div>
    <!--mail inbox end-->
</body>
</html>


<script>

    $(document).ready(function (){

        $("#mailSearch").keyup(function () {

            var searchVal = $(this).val();


            $.ajax({
                type: "GET",
                url: "/Mail/SearchMail",
                data: { searchVal: searchVal }, // parameter
                dataType: "html", // response data type...
                success: function (response) {  // response

                    $("#searchBox").html(response);

                }
            });


        });

        $("#refresh").click(function () {
            $.ajax({
                type: "GET",
                url: "/Mail/SendBox",
                dataType: "html",
                success: function (response) {
                    $("body").html(response);
                }
            })


        })

    });

</script>